@import "./style.scss";

div.filter-container {
    display: block;
    user-select: none;
    font-family: var(--fontfamily1);
    margin: 0 0 10px 0;
    position: relative;

    div {
        button.filter-selected {
            @include button(var(--color5), var(--color14), var(--color4), 3px);
            transition: 0.1s transform, 0.1s box-shadow, 0.1s border-color;
            display: flex;
            align-items: center;
            flex-direction: row;
            padding: 3px;
            text-align: center;
            justify-content: space-between;
            width: 100%;
            font-size: 14px;

            span.filter-icon {
                margin-left: 4px;
                font-size: 15px;
            }
            span.dropdown-icon {
                font-size: 24px;
            }
        }

        ul.filter-list {
            position: absolute;
            z-index: 9999;
            width: 100%;
            top: 34px;
            left: 0;
            list-style-type: none;
            color: var(--color14);
            border-radius: 1px;

            li.filter-item {
                text-align: center;
                cursor: pointer;
                padding: 5px;
                background-color: var(--color6);
                font-size: 14px;

                &:hover {
                    background-color: var(--color5);
                }

                &:active {
                    background-color: var(--color6);
                }
            }
        }
    }
}
